html {
  background: url(assets/battlefield-background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'PT Serif', serif;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body {
  margin: 0;
}

button {
  border-radius: 15px;
  background-color: #F4EDDC;
  font-family: 'PT Serif', serif;
  font-size: 150%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 5%;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: white;
}

h1 {
  display: flex;
}

h3 {
  margin-top: 20vh;
}

.human-player {
  align-items: center;
  display: flex;
  flex-direction: column;
  float: left;
  width: 20vw;
}

.emoji {
  font-size: 50px;
  margin: 0;
}

.human-player-info,
.computer-player-info {
  align-items: center;
  background-image: url(assets/wood-sign.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 20vw;
}

.computer-player {
  align-items: center;
  display: flex;
  flex-direction: column;
  float: right;
  width: 20vw;
}

.game-choice,
.classic-game,
.elemental-game,
.results {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.change-game-button {
  margin-top: 20vh;
}

.radio-buttons {
  display: flex;
  justify-content: center;
}

.classic-weapon-img {
  cursor: pointer;
  height: 25vh;
  width: 20vw;
}

.elemental-weapon-img {
  cursor: pointer;
  height: 15vh;
  width: 15vh;
}

.hidden {
  display: none;
}
